*{
	margin: 0px;
	padding: 0px;
}
.maindiv{
	margin: 0 auto;
	border: 3px solid black;
	width: 500px;
	padding: 20px;
	text-align: center;
	margin-bottom: 50px;
}
.image{
	width: 300px;
	position: relative;
}
.image img{
	max-width: 100%;
}
.name{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0%;
	height: 0%;
	text-align: center;
	color: #A6E22B;
	background-color: rgba(40, 41, 35, .44);
	visibility: hidden;
	transition: .5s;
	opacity: 0;
}
.name h2{
	margin-top: 150px;
	font-size: 25px;
}
.image:hover .name{
	width: 100%;
	height: 95%;
	visibility: visible;
	opacity: 1;
}